@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Roboto:100,300,400,500,700,900&display=swap&subset=latin-ext');
html{
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}
::-moz-selection{
    background:#000;
    color:#fff;
    text-shadow:none;
}
::selection{
    background:#000;
    color:#fff;
    text-shadow:none;
}
a{
    text-decoration:none;
    cursor:pointer;
    color:#333;
}
a:hover{
    text-decoration:underline;
}
b,strong{
    font-weight:700;
}
em,i{
    font-style:italic;
}
img{
    -ms-interpolation-mode:bicubic;
    vertical-align:middle;
}
svg:not(:root){
    overflow:hidden;
}
input{
    font-size:1em;
    margin:0;
    vertical-align:baseline;
    *vertical-align:middle;
    line-height:normal;
}
input[type="submit"]{
    cursor:pointer;
    -webkit-appearance:button;
    *overflow:visible;
}
input::-moz-focus-inner{
    border:0;
    padding:0;
}
input:invalid{
    background-color:#f0dddd;
}
html{
    overflow:auto;
    overflow-y:scroll;
    width:100%;
    height:100%;
    position:relative;
    background:#fff;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
*{
    max-height:1000000px;
}
*,:before,:after{
    -moz-box-sizing:inherit;
    box-sizing:inherit;
}
body{
    margin:0;
    padding:0;
    font-size:16px;
    line-height:1.5;
    font-family:"Montserrat",Arial,sans-serif;
    width:100%;
    min-width:320px;
    min-height:100%;
    position:relative;
    display:block;
    background:#e8e8e8;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
input[type="text"],input[type="email"]{
    border:1px solid #dfdfdf;
    background:#fff;
    font-family:"Roboto",Arial,sans-serif;
    position:relative;
    margin:0;
    font-size:11px;
    outline:none;
    padding:7px 14px;
    display:block;
    font-weight:600;
    width:100%;
}
.svg-sprite{
    display:none;
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}
.the-in-carousel{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.the-in-carousel *{
    -moz-box-sizing:inherit;
    box-sizing:inherit;
}
.the-in-carousel,.the-in-carousel__frame,.the-in-carousel__pack{
    position:relative;
}
.the-in-carousel__stage,.the-in-carousel__frame{
    overflow:hidden;
}
.the-in-carousel__frame.m-scroll{
    overflow-x:scroll;
    -webkit-overflow-scrolling:touch;
}
.the-in-carousel__pack{
    position:relative;
    -ms-user-select:none;
    user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
}
.the-in-carousel__pack:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
    font-size:0;
}
.the-in-carousel__item{
    display:inline-block;
    min-height:1px;
}
.statistic{
    position:relative;
    margin:0 -5px;
    display:block;
    line-height:20px;
}
.statistic__item{
    display:inline-block;
    vertical-align:top;
    margin:0 5px;
    font-size:12px;
    line-height:20px;
    font-weight:500;
    color:#adadad;
}
.statistic__item i{
    display:inline-block;
    vertical-align:top;
    margin-right:2px;
    width:20px;
    height:20px;
}
.statistic__item .svg-icon{
    width:100%;
    height:100%;
    fill:#adadad;
}
.page__width{
    width:100%;
    max-width:1440px;
    min-width:320px;
    margin:0;
    padding:0;
    position:relative;
}
.page__width:after{
    content:'';
    display:block;
    clear:both;
    font-size:0;
    line-height:0;
    height:0;
}
.page{
    position:relative;
    display:block;
    width:100%;
    min-width:20em;
}
.page__bg{
    background:#f2f2f2;
    box-shadow:rgba(0,0,0,0.15) 0 1px 2px;
}
.m-article-page .page__bg{
    background:#fff;
}
.content{
    position:relative;
    padding:10px 5px;
}
.m-article-page .content{
    padding:0;
}
@media only screen and (min-width: 480px){
    .content{
        padding:10px
    };
}
.content:after{
    content:'';
    display:block;
    font-size:0;
    line-height:0;
    height:0;
    clear:both;
}
.endless{
    position:relative;
}
.endless:after{
    content:'';
    display:block;
    font-size:0;
    line-height:0;
    height:0;
    clear:both;
}
.endless__item{
    position:relative;
}
.endless__item-bg{
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:#fff;
    z-index:80;
}
.endless__item-content{
    position:relative;
    z-index:100;
}
.endless.m-follow-fixed .endless__item-content{
    box-shadow:rgba(0,0,0,0.1) 0 3px 2px;
}
.endless.m-follow-fixed .endless__item:last-child .endless__item-content{
    box-shadow:none;
}
.layout-article{
    position:relative;
    padding:10px 10px 40px;
}
.endless__item .layout-article{
    padding-top:50px;
}
@media only screen and (min-width: 768px){
    .endless__item .layout-article{
        padding-top:100px
    };
}
.endless__item:first-child .layout-article{
    padding-top:10px;
}
.layout-article__over{
    position:relative;
}
.layout-article__over:after{
    content:'';
    display:block;
    font-size:0;
    line-height:0;
    height:0;
    clear:both;
}
.layout-article__main{
    width:100%;
    position:relative;
}
@media only screen and (min-width: 480px){
    .layout-article__main{
        padding:0 10px
    };
}
@media only screen and (min-width: 1160px){
    .layout-article:not(.m-width1000):not(.m-width1440):not(.m-width-max) .layout-article__main{
        float:left;
        padding:0 300px 0 0
    };
}
.layout-article__600-align{
    max-width:600px;
    margin:0 auto;
    position:relative;
}
.layout-article__600-align:after{
    content:'';
    display:block;
    font-size:0;
    line-height:0;
    height:0;
    clear:both;
}
@media only screen and (min-width: 1160px){
    .layout-article:not(.m-width1000):not(.m-width1440):not(.m-width-max) .layout-article__600-align{
        width:600px;
        float:right;
        margin-right:100px
    };
}
.layout-article__right-column{
    display:none;
}
@media only screen and (min-width: 1160px){
    .layout-article__right-column{
        position:relative;
        display:block;
        float:left;
        border:0;
        padding:0;
        margin-left:-340px;
        width:320px
    };
}
.layout-article__right-column-block{
    width:100%;
    position:relative;
    overflow:hidden;
}
.header{
    position:relative;
    height:46px;
}
@media only screen and (min-width: 768px){
    .header{
        height:60px
    };
}
body.m-header-brand .header{
    height:100px;
}
@media only screen and (min-width: 480px){
    body.m-header-brand .header{
        height:130px
    };
}
.header__brand{
    position:relative;
    width:100%;
    min-height:100%;
}
.m-article-page .header__brand{
    z-index:92;
}
.header__brand-bg{
    position:absolute;
    top:0;
    left:0;
    right:0;
    overflow:hidden;
    height:65px;
}
@media only screen and (min-width: 480px){
    .header__brand-bg{
        height:81px
    };
}
@media only screen and (min-width: 640px){
    .header__brand-bg{
        height:263px
    };
}
@media only screen and (min-width: 1160px){
    .header__brand-bg{
        height:321px
    };
}
.header__brand-align{
    position:relative;
    max-width:620px;
    margin:0 auto;
}
@media only screen and (min-width: 480px){
    .header__brand-align{
        max-width:640px
    };
}
@media only screen and (min-width: 1160px){
    .header__brand-align{
        position:absolute;
        right:410px;
        width:600px
    };
}
.header__brand-image{
    position:absolute;
    top:0;
}
.header__brand-image .header__brand-image-desk{
    display:none;
}
body.m-article-page .header__brand-image{
    width:359px;
    height:65px;
    left:0;
    overflow:hidden;
}
body.m-article-page .header__brand-image .svg-graphic{
    margin:0 0 0 -13px;
    width:373px;
    height:64px;
}
@media only screen and (min-width: 480px){
    body.m-article-page .header__brand-image{
        width:469px;
        height:81px
    }
    body.m-article-page .header__brand-image .svg-graphic{
        margin:0;
        width:469px;
        height:81px
    };
}
@media only screen and (min-width: 640px){
    body.m-article-page .header__brand-image{
        width:686px;
        height:263px;
        left:-260px
    }
    body.m-article-page .header__brand-image .svg-graphic{
        margin:0 0 0 -150px;
        width:1311px;
        height:321px
    }
    body.m-article-page .header__brand-image .header__brand-image-mob{
        display:none
    }
    body.m-article-page .header__brand-image .header__brand-image-desk{
        display:block
    };
}
@media only screen and (min-width: 1160px){
    body.m-article-page .header__brand-image{
        width:1311px;
        height:321px;
        left:-430px
    }
    body.m-article-page .header__brand-image .svg-graphic{
        margin:0;
        width:1311px;
        height:321px
    };
}
.header__menu{
    position:relative;
    height:46px;
    padding:0 4px;
    -webkit-transition:all .25s;
    -o-transition:all .25s;
    -moz-transition:all .25s;
    transition:all .25s;
}
.header__brand .header__menu{
    position:absolute;
    top:10px;
    right:10px;
    border-radius:14px;
    background:rgba(255,255,255,0.7);
}
@media only screen and (min-width: 768px){
    .header__brand .header__menu{
        padding:0 6px;
        top:15px;
        right:15px;
        border-radius:17px;
        height:60px;
        padding:0 8px
    };
}
.header__menu-button{
    float:left;
    position:relative;
    display:block;
    width:38px;
    height:46px;
    padding:6px 2px;
    -webkit-transition:all .25s;
    -o-transition:all .25s;
    -moz-transition:all .25s;
    transition:all .25s;
}
@media only screen and (min-width: 375px){
    .header__menu-button{
        width:44px;
        padding:6px 5px
    };
}
@media only screen and (min-width: 768px){
    .header__brand .header__menu-button{
        width:54px;
        height:60px;
        padding:10px 7px
    };
}
.header__menu-icon-l,.header__menu-icon-s{
    position:relative;
    width:100%;
    height:100%;
}
.header__menu-icon-l .svg-icon,.header__menu-icon-s .svg-icon{
    width:100%;
    height:100%;
    fill:#003057;
}
.header__menu-button:hover .header__menu-icon-l .svg-icon,.header__menu-button:hover .header__menu-icon-s .svg-icon{
    fill:#0075FF;
}
.header__menu-icon-s{
    display:block;
}
@media only screen and (min-width: 1160px){
    .header__brand .header__menu-icon-s{
        display:none
    };
}
.header__menu-icon-l{
    display:none;
}
@media only screen and (min-width: 1160px){
    .header__brand .header__menu-icon-l{
        display:block
    };
}
.footer{
    position:relative;
    background:#fff;
    color:#333;
    padding:20px 10px 44px;
    overflow:hidden;
}
@media only screen and (min-width: 480px){
    .footer{
        padding:20px 20px 44px
    };
}
.footer__top{
    position:relative;
}
.footer__social{
    margin:0 auto 40px;
    height:40px;
}
@media only screen and (min-width: 1235px){
    .footer__social{
        margin-left:180px;
        margin-right:180px
    };
}
.footer__social-list{
    left:0;
    text-align:center;
    height:40px;
    overflow:hidden;
    margin:0 -10px;
    padding:0 9px;
    white-space:nowrap;
}
@media only screen and (min-width: 480px){
    .footer__social-list{
        margin:0 -20px;
        padding:0 19px
    };
}
@media only screen and (min-width: 1235px){
    .footer__social-list{
        margin:0 -1px;
        padding:0 1px
    };
}
.footer__social-list.the-in-carousel__ready{
    padding:0;
    margin:0 -10px;
    white-space:normal;
}
@media only screen and (min-width: 480px){
    .footer__social-list.the-in-carousel__ready{
        margin:0 -20px
    };
}
@media only screen and (min-width: 1235px){
    .footer__social-list.the-in-carousel__ready{
        margin:0
    };
}
.footer__social-wr{
    display:inline-block;
    vertical-align:top;
    width:78px;
    position:relative;
}
body.m-ria .footer__social-wr{
    width:74px;
}
body.m-ria .the-in-carousel__item .footer__social-wr,.the-in-carousel__item .footer__social-wr{
    width:100%;
}
.footer__social-button{
    height:40px;
    background:#c2c2c2;
    display:block;
    margin:0 1px;
}
.footer__social-button .svg-icon{
    width:30px;
    height:30px;
    fill:#fff;
    position:absolute;
    display:block;
    top:50%;
    left:50%;
    margin:-15px 0 0 -15px;
}
.footer__social-button.m-vkontakte{
    background:#778db0;
}
.footer__social-button.m-facebook{
    background:#1877F2;
}
.footer__social-button.m-odnoklassniki{
    background:#f48420;
}
.footer__social-button.m-twitter{
    background:#00b5f5;
}
.footer__social-button.m-instagram{
    background:#d23574;
}
.footer__social-button.m-telegram{
    background:#2ca5e0;
}
.footer__social-button.m-viber{
    background:#7b519d;
}
.footer__social-button.m-youtube{
    background:#e52d27;
}
.footer__social-button.m-tamtam{
    background:#4e6afb;
}
.footer__social-button.m-breakingnews{
    background:#d00915;
}
.footer__social-button.m-zen{
    background:#000;
}
.the-in-carousel__item .footer__social-button{
    margin:0;
}
.footer__rubric{
    margin:0 -10px 40px;
    position:relative;
}
@media only screen and (min-width: 480px){
    .footer__rubric{
        margin:0 -20px 40px
    };
}
.footer__rubric-list{
    position:relative;
    overflow:hidden;
    text-align:center;
    white-space:nowrap;
    padding:0 5px;
}
@media only screen and (min-width: 480px){
    .footer__rubric-list{
        padding:0 15px
    }
    .footer__rubric-list.the-in-carousel__ready{
        padding:0
    };
}
.footer__rubric-item{
    display:inline-block;
    vertical-align:top;
    padding:0 5px;
    white-space:normal;
}
.footer__rubric-item a{
    font-weight:700;
    font-size:14px;
    color:#777;
    font-family:"Roboto",Arial,sans-serif;
}
.footer__rubric-list.the-in-carousel__ready{
    white-space:normal;
    padding:0;
}
.footer__rubric-list.the-in-carousel__ready .footer__rubric-item{
    display:block;
}
.media{
    position:relative;
    display:block;
}
.media img{
    display:block;
    position:relative;
    max-width:100%;
    margin:0 auto;
}
.media__size{
    position:relative;
    margin:0;
}
.media__copyright{
    font-family:"Roboto",Arial,sans-serif;
    color:#adadad;
    text-align:left;
    font-weight:400;
    padding-top:10px;
    line-height:1.1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    overflow:hidden;
}
.media__copyright-item{
    display:inline-block;
    position:relative;
    margin-right:9px;
    margin-left:-9px;
    padding-left:9px;
    font-size:10px;
    line-height:13px;
    vertical-align:top;
}
.media__copyright-item:after{
    content:'/';
    position:absolute;
    top:0;
    left:3px;
}
.media__copyright-item:first-child{
    margin-left:0;
    padding-left:0;
}
.media__copyright-item:first-child:after{
    content:'';
    display:none;
}
.media__copyright-item:last-child{
    margin-right:0;
}
.share{
    position:relative;
    display:block;
    z-index:150;
}
.share a{
    width:40px;
    height:40px;
    float:left;
    display:none;
}
.share a.share__more{
    display:block;
}
.share a span{
    width:40px;
    height:40px;
    display:none;
}
.share a .share__more-mobile{
    display:block;
}
.share a:hover{
    color:#666;
}
.share a:hover .svg-icon{
    opacity:1;
}
@media only screen and (min-width: 925px){
    .share a{
        width:26px;
        height:26px;
        display:block
    }
    .share a span{
        width:26px;
        height:26px
    }
    .share a .share__more-mobile{
        display:none
    }
    .share a .share__more-desktop{
        display:block
    };
}
.share .svg-icon{
    width:100%;
    height:100%;
    position:relative;
    display:block;
    fill:#666;
    opacity:.65;
}
.share .svg-icon+.svg-icon{
    display:none;
}
.share.m-article{
    display:none;
}
@media only screen and (min-width: 925px){
    .share.m-article{
        display:block
    };
}
.share.m-article a{
    width:40px;
    height:40px;
    float:none;
    margin-bottom:10px;
    border-radius:20px;
    background:#666;
    padding:5px;
}
.share.m-article a .svg-icon{
    fill:#fff;
}
.share.m-article a[data-name='odnoklassniki']{
    background:#f48420;
}
.share.m-article a[data-name='vkontakte']{
    background:#778db0;
}
.share.m-article a[data-name='facebook']{
    background:#1877F2;
}
.share.m-article a[data-name='facebook'] .svg-icon{
    display:none;
}
.share.m-article a[data-name='facebook'] .svg-icon+.svg-icon{
    display:block;
}
.share.m-article a.share__more{
    background:#d7d7d7;
}
.share.m-article a.share__more .share__more-desktop{
    width:30px;
    height:30px;
}
.share.m-article a.share__more .svg-icon{
    fill:#333;
}
.share.m-article a:last-child{
    margin-bottom:0;
}
.share:after{
    content:'';
    display:block;
    clear:both;
    font-size:0;
    line-height:0;
    height:0;
}
.share-full{
    position:fixed;
    bottom:10px;
    right:10px;
    display:none;
    z-index:1000;
    min-width:300px;
    max-height:94%;
    background-color:#fff;
    border-radius:3px;
    box-shadow:-4px 4px 15px rgba(0,0,0,0.25);
    text-align:left;
    font-size:15px;
    font-family:"Roboto",Arial,sans-serif;
}
.share-full ul{
    padding:10px 0;
    margin:0;
    list-style:none;
}
.share-full li{
    display:block;
}
.share-full span{
    display:block;
}
.share-full a{
    display:block;
    padding:0 40px;
    width:100%;
    color:#5E5E5E;
    line-height:37px;
}
.share-full a:hover{
    background-color:#F2F2F2;
}
@media only screen and (min-width: 925px){
    .share-full{
        position:absolute;
        z-index:700;
        left:0;
        top:-500px;
        bottom:auto;
        right:auto;
        min-width:100px
    }
    .share-full a{
        padding:0 20px
    }
    .share-full:after{
        content:"";
        position:absolute;
        right:13px;
        width:0;
        height:0;
        border-style:solid;
        top:100%;
        border-width:5px 5px 0;
        border-color:#fff transparent transparent
    };
}
.share-full__icon{
    display:block;
    float:right;
    margin:5px 0 0 -26px;
    width:26px;
    height:26px;
}
.share-full__icon .svg-icon{
    width:100%;
    height:100%;
}
.share-full__facebook .share-full__icon .svg-icon{
    fill:#1877F2;
}
.share-full__vkontakte .share-full__icon .svg-icon{
    fill:#778db0;
}
.share-full__odnoklassniki .share-full__icon .svg-icon{
    fill:#f48420;
}
.share-full__twitter .share-full__icon .svg-icon{
    fill:#00b5f5;
}
.share-full__text{
    padding-right:56px;
}
body.m-ria .color-bg-hover,.article.m-ria .color-bg-hover{
    background-color:#0075FF;
}
body.m-ria .color-bg-hover:hover,.article.m-ria .color-bg-hover:hover{
    background-color:#1345AE;
}
body.m-ria .svg-accent-color{
    fill:#0075FF;
}
.article.m-ria .article__text a{
    color:#0075FF;
    background:rgba(0,117,255,0.12);
}
.article.m-ria .article__text a:hover{
    background:rgba(0,117,255,0.3);
}
.article.m-ria .article__text a:visited{
    color:#4F298C;
    background:rgba(79,41,140,0.12);
}
.article.m-ria .article__text a:visited:hover{
    background:rgba(79,41,140,0.3);
}
body.m-ria .header__menu-button:hover .header__menu-icon-l .svg-icon,body.m-ria .header__menu-button:hover .header__menu-icon-s .svg-icon{
    fill:#0075FF;
}
.article{
    position:relative;
}
.article:after{
    content:'';
    display:block;
    clear:both;
    font-size:0;
    line-height:0;
    height:0;
}
.article__header{
    margin:0 0 10px;
}
.article__title{
    font-size:24px;
    line-height:30px;
    font-weight:700;
    margin:0;
}
@media only screen and (min-width: 480px){
    .article__title{
        font-size:32px;
        line-height:40px
    };
}
@media only screen and (min-width: 640px){
    .article__title{
        font-size:36px;
        line-height:45px
    };
}
.article__info{
    padding-top:10px;
    overflow:hidden;
}
@media only screen and (min-width: 640px){
    .article__info{
        padding-top:15px
    };
}
.article__info-date,.article__info-statistic{
    display:inline-block;
    vertical-align:top;
    margin-right:10px;
}
.article__info-date{
    font-size:12px;
    line-height:20px;
    font-weight:500;
    color:#adadad;
}
.article__info-date a{
    color:#adadad;
}
.article__announce{
    position:relative;
}
.article__announce .media{
    padding-top:10px;
}
@media only screen and (min-width: 640px){
    .article__announce .media{
        padding-top:20px
    };
}
.article__body{
    position:relative;
    padding:15px 0;
}
@media only screen and (min-width: 480px){
    .article__body{
        padding:20px 0
    };
}
.article__body .article__block:first-child{
    margin-top:0;
}
.article__block{
    margin-top:20px;
}
@media only screen and (min-width: 480px){
    .article__block{
        margin-top:25px
    };
}
.article__text{
    font-size:16px;
    line-height:25px;
    font-family:"Roboto",Arial,sans-serif;
}
@media only screen and (min-width: 480px){
    .article__text{
        font-size:16px;
        line-height:26px
    };
}
.article__text a{
    border-radius:2px;
    padding:0 5px;
    white-space:pre-wrap;
    color:#0075FF;
    background:rgba(0,117,255,0.12);
    position:relative;
}
.article__text a:hover{
    background:rgba(0,117,255,0.3);
}
.article__text a:visited{
    color:#4F298C;
    background:rgba(79,41,140,0.12);
}
.article__text a:visited:hover{
    background:rgba(79,41,140,0.3);
}
.article__text b,.article__text strong{
    font-weight:700;
}
.article__text i,.article__text em{
    font-style:italic;
}
.article__text :last-child{
    margin-bottom:0;
}
.article__sharebar{
    position:absolute;
    top:100px;
    left:-60px;
}
.article__sharebar-chat{
    display:none;
    width:40px;
    height:40px;
    margin-top:10px;
    border-radius:20px;
    background:#0075FF;
    padding:5px;
}
.article__sharebar-chat .svg-icon{
    width:100%;
    height:100%;
    position:relative;
    display:block;
    fill:#fff;
    opacity:.65;
}
.article__sharebar-chat:hover{
    background:#1345AE;
}
.article__sharebar-chat:hover .svg-icon{
    opacity:1;
}
@media only screen and (min-width: 925px){
    .article__sharebar-chat{
        display:block
    };
}
.m39dd0045 .x1217fae8:hover__currency-symbol_extra {
	fill: #DD0000 !important;
}

h5 {
			font-size: 18px;
		}

		.layout-article__right-column-block {
			background-color: rgba(255, 255, 255, 0.9);
			padding: 20px;
			adding: ;

		}

		/* --------------- */
		.small {
			font-size: 85%
		}

		.media {
			margin-top: 15px
		}

		.media-left {
			padding-right: 10px;
			max-width: 80px;
			min-width: 50px;
		}

		.media-body,
		.media-left {
			display: table-cell;
			vertical-align: top
		}

		.media-heading {
			margin-bottom: 5px;
			margin-top: 0
		}

		.pull-right {
			float: right !important
		}

		.pull-left {
			float: left !important
		}

		.pull-right {
			float: right
		}

		.pull-left {
			float: left
		}

		.content-box {
			background: #fff
		}

		.content .img-responsive {
			margin: 0 auto 5px
		}

		.content p {
			color: #222;
			font-family: Verdana;
			font-size: 17px;
			line-height: 26px;
			margin: 0 0 20px
		}

		.content h5 {
			color: #222;
			font-size: 20px;
			line-height: 28px;
			margin: 8px 0 20px
		}

		.content h5.pink-border-bottom {
			border-bottom: 2px solid #0198bd;
			color: #666;
			margin-bottom: 15px
		}

		.content h4 {
			color: #222;
			font-size: 21px;
			line-height: 28px;
			margin: 0 0 10px
		}

		.content p a,
		.content p a:focus,
		.content p a:hover {
			color: #0198bd
		}

		.content p strong i {
			font-size: 14px;
			line-height: 18px;
		}

		.content .m-b-5 {
			margin-bottom: 10px;
		}

		.content .revival-box2 {
			border: 1px solid #ccc;
			margin-bottom: 15px;
			margin-left: 0;
			margin-right: 0;
			background: #f5f9fa;
			padding: 10px
		}


		.comments {
			background: #fff;
			padding-bottom: 30px
		}

		.recent {
			margin-left: 0;
			margin-right: 0;
			padding-bottom: 20px;
			padding-top: 50px
		}

		.recent a,
		.recent p {
			color: #3b5998;
			font-family: Tahoma;
			font-size: 14px;
			line-height: 18px;
			margin: 0
		}

		.recent p {
			font-weight: 700
		}

		.media {
			border-top: 1px solid #e2e2e2;
			margin: 0;
			padding: 8px 0
		}

		.media.border-bottom {
			border-bottom: 1px solid #e2e2e2
		}

		.media-left img {
			margin-top: 6px
		}

		.media-body h4 a {
			color: #3b5998;
			font-family: Tahoma;
			font-size: 13px;
			font-weight: 700;
			line-height: 14px;
			margin: 0 0 5px
		}

		.media-body h4 a:focus,
		.media-body h4 a:hover {
			color: #3b5998
		}

		.media-body p {
			color: #1a1a1a;
			font-family: Tahoma;
			font-size: 12px;
			line-height: 15px;
			margin: 0 0 5px
		}

		.media-body p.bottom {
			color: #3b5998;
			margin-top: 10px;
		}

		.media-body p.bottom .like {
			margin-left: 8px
		}

		.media-body p.bottom .time {
			border-bottom: 1px dotted grey;
			color: grey;
			margin-left: 8px;
		}

		.comments p.small {
			color: #3b5998;
			font-family: Tahoma;
			font-size: 11px;
			margin: 10px 0
		}

		.no-border-top {
			border-top: none !important;
			margin-top: 20px;
		}

		.media__copyright-item {
			font-size: 12px;
		}